h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

body {
  font-size: 16px;
  color: #666;
  line-height: 1.6;
  text-align: justify; /* по ширині */
  background-color: #f8f8f8;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

p {
  margin-bottom: 20px;
}

a {
  font-weight: normal !important;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
  padding-left: 0;
}

ol {
  list-style-type: decimal;
  margin-left: 20px;
  padding-left: 0;
}

dl {
  margin-left: 20px;
  padding-left: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 20px;
}

table {
  border: 1px solid #ddd;
  padding: 8px;
  margin-top: 16px;
  background-color: #f5f5dc;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}
